html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}



body{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 800px;
  
  margin: auto;
  
}

.calculator-screen {
  width: 100%;
  height: 80px;
  border: none;
  background-color: whitesmoke;
  color: black;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 4rem;
}

button {
  height: 60px;
  font-size: 2rem!important;
}

.equal-sign {
  height: 98%;
  grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.form-check-input[type=checkbox]:checked{
  height:35px !important;
  width: 35px !important;
}

.form-check-input[type=checkbox]:checked:focus{
  height:35px !important;
  width: 35px !important;
}


.form-check-input {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #fff;
  border: 0.125rem solid rgba(0,0,0,.25);
}


.form-check-label{
  font-size: 17px !important;
}
.form-label{
  font-size: 17px !important;
 
}

.wrapperrange{
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-gap: 20px;
  padding: 20px;
}